<div class="piece">
  <div class="piece_image">
    <%= image_tag(@piece.image.url(:medium)) %>
  </div>

  <h1 class="piece_title"><%= @piece.title %></h1>
  <p class="artist_name">by <%= User.find(@piece.user_id).name? ? User.find(@piece.user_id).name : User.find(@piece.user_id).email %></p>
  <div class="piece_created">
    <%= @piece.created.strftime("%B %d, %Y") if @piece.created? %>
  </div>

  <div class="piece_description">
    <%= @piece.description %>
  </div>


<%= render "partials/buttons", :edit_delete => true, :item => @piece %>

  <div class="button">
  <%= link_to "back", root_path %>
  </div>

</div>
