<div id="page_wrapper">



<div class="piece">
  <div class="piece_image">
    <%= image_tag(@piece.image.url(:medium)) %>
  </div>

  <h1 class="piece_title"><%= @piece.title %></h1>
  <div class="piece_created">
    <%= @piece.created.strftime("%B %d, %Y") %>
  </div>

  <div class="piece_description">
    <%= @piece.description %>
  </div>

  <div class="button">
  <%= link_to "back", root_path %>
  </div>

</div>
</div>
