<!DOCTYPE html>
<html>
<head>
  <title>Simple Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="navbar">

    <div id="logo">
      <%= link_to root_path do %>
        <%= image_tag "logo-green.png" %>
      <% end %>
    </div>

    <div id="navigation">
      <div class="nav_item"><%= link_to "Home", root_path %></div>
      <div class="nav_item"><%= link_to "About", root_path %></div>
      <div class="nav_item"><%= link_to "Blog", root_path %></div>
      <div class="nav_item"><%= link_to "Portfolio", root_path %></div>
      <div class="nav_item"><%= link_to "Shop", root_path %></div>
      <% if user_signed_in? %>
        <div class="nav_item"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %> </div>
      <% else %>
        <div class="nav_item"><%= link_to('Sign in', new_user_session_path)  %></div>
      <% end %>
    </div>

  </div>


  <% if user_signed_in? %>
  <div id="loggedin_nav">
      <span class="user_name"><%= current_user.name.nil? ? current_user.email.split('@')[0].capitalize : current_user.name %>'s Dashboard</span>
      <div class="navigation">
        <div class="nav_item"><%= link_to "My Portfolios", portfolios_path %> </div>
        <div class="nav_item"><%= link_to "My Pieces", pieces_path %> </div>
        <div class="nav_item"><%= link_to 'Settings', user_path(current_user) %></div>
      </div>
  </div>
  <% end %>



<div id="main_content">
  <% flash.each do |name, msg| %>
    <div class="message">
     <%= content_tag(:div, msg, class: "alert") %>
   </div>
  <% end %>

  <%= yield %>
</div>
  <div id="footer">

      <div id="copyright">Skyler Layne, 2015</div>
    <div class="social">
      <span><a href="https://twitter.com/skylerto"> <%= image_tag "sm/twitter.png", :class => "social_media" %> </a></span>
      <span><a href="https://github.com/skylerto"><%= image_tag "sm/github.png", :class => "social_media" %> </a></span>
      <span><a href="mailto:skylerclayne@gmail.com"><%= image_tag "sm/mail.png", :class => "social_media" %> </a></span>
    </div>
  </div>

</body>
</html>
